<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Ticketline"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="Ticketline">
         </property>
         <property
               name="applicationXMI"
               value="at.ticketline.kassa/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/at.ticketline.kassa/css/default.css">
         </property>
         <property
               name="aboutImage"
               value="/TicketlineRCPJuno/icons/about_ticketline.png">
         </property>
         <property
               name="windowImages"
               value="/TicketlineRCPJuno/icons/web_16.png,/TicketlineRCPJuno/icons/web_32.png,/TicketlineRCPJuno/icons/web_48.png">
         </property>
      </product>
   </extension>

</plugin>
